body{
background-color: #eee;
background-repeat:no-repeat;
background-size:100% 100%;
background-position:fixed;
}
#head1{
text-align:center;
font-family:"Cambria Math";
font-size:80px;
}
#div1{
background-color:#AA644A;
}

a{
text-decoration:none;
color:#9AC5E3;
}

h1{
font-family:"Segoe UI Black";

margin:0 35%;	
}

.header_home{
width:100%;
height:10%;
background-color:#AFA8A5;
border:1;
}

.right_of_header{
float:right;
font-size:40px;
border:2;
border-color:red;
}

#logo{
width:10%;
height:90%;
}

.login_details{
float:left;	
background-color:#FAFAFA;
border-color:#A9A2A0;

margin-right:auto;
border-style:solid;
border-width:1px;
margin-left:30%;
margin-right:40%;
width:30%;
}

.email_pass
{
font-family:"Segoe UI Black";
color:red;
}

.input_box
{
background-image: url('user2.png');
background-position: right;
background-size: 10%;
background-repeat: no-repeat;
width:65%;
height:30px;
font-size:16px;
margin-left: 16%;
border-radius: 4px;

}
.input_box2
{
background-image: url('password.png');
background-position: right;
background-size: 10%;
background-repeat: no-repeat;
width:65%;
height:30px;
font-size:16px;
margin-left: 16%;
border-radius: 4px;

}


#img1{
display:block;
margin-left:auto;
margin-right:auto;
position:relative;
height:100px;
border-radius:50%;
}

#submit_btn{
	font-size:20px;
	font-family: Open Sans Condensed, sans-serif;
	color:white;
	border: none;	
	background-color: #C83535;
	border-radius:3px;
	
	margin-left:19%;

	cursor: pointer;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	width:60%;
}


#submit_btn:hover, #submit_btn:focus, #submit_btn:active {
  color: white;
  background-color:#E34040;
}



.header_home{

height:10%;
background-color:#AFA8A5;
border:1;
display: inline;

}

.left_of_header
{

    background-color: white;
    padding-top:1%;
    padding-bottom: 1%;
    width: 100%;
}


.login{
    background-color:transparent;
  border:1px solid #eee;
  display:inline-block;
  
  font-color:white;
  font-family:Open Sans Condensed, sans-serif;;
  font-size:20px;
  padding:16px 31px;
  height:65px;    
}











input {
    display: block
}

input:hover + span {
    display: inline-block;
    margin: 10px 0 0 10px
}



input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.login_text{
	background-color: transparent;
	background-size: 100%;
	background-position:left;
}

.login{
  border:1px solid #eee;
  display:inline-block;
  color:black;
  font-size:20px;
  padding:16px 31px;
  height:65px;    
  background-color: #C83535;
  opacity: 0.9;
}

.login:hover, .login:focus, .login:active {
  color: white;
  background-color:#E34040;

}

