body{
background-image:url("signup.jpg") ;
background-repeat:no-repeat;
background-size:100% 100%;
background-position:fixed;


-moz-background-size: cover;
 -webkit-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

   
#head1{
text-align:center;
font-family:"Cambria Math";
font-size:80px;
}
#div1{
background-color:#AA644A;
}
a:hover{
background-color:#B7978B;
}

a{
text-decoration:none;
color:#9AC5E3;
}

h1{
font-family:"Segoe UI Black";
margin:0 20%;
font-size:220%;
}

.header_home{
width:100%;
height:10%;
background-color:tarnsparent;
border:1;
}

.right_of_header{
float:right;
font-size:40px;
border:2;
border-color:red;
}

#logo{
width:10%;
height:90%;
}

.sign_up_form{
float:left;	
background-color:transparent;
border-radius:70px 20px 70px 20px;
border-color:white;
margin-right:auto;
border-style:solid;
border-width:6px;
margin-left:7%;
margin-right:40%;
width:35%;

}

.email_pass
{
font-family:"arial";
color:red;
text-align:left;
color:white;
font-size:120%;
}

.input_box
{
margin:0 30%;
background-color:lightgrey;

width:65%;
height:30px;
font-size:20px;
}

#img1{
display:block;
margin-left:auto;
margin-right:auto;
position:relative;
height:100px;
border-radius:50%;
}


#submit_btn{
	
	font-size:25px;
	color:white;
	border: none;	
	background-color:ORANGE;
	border-radius:35px;
	font-family:"Ariel";
	margin-left:23%;
	font-size: 24px;
	cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin-left:5%;
	width:35%;
}


#submit_btn:hover, #submit_btn:focus, #submit_btn:active {
  color: white;
  background-color:skyblue;
}



#submit_btn2{
	
	font-size:25px;
	color:white;
	border: none;	
	background-color:ORANGE;
	border-radius:35px;
	font-family:"Ariel";
	margin-left:23%;
	font-size: 24px;
	cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin-left:5%;
	width:35%;
}


#submit_btn2:hover, #submit_btn2:focus, #submit_btn2:active {
  color: white;
  background-color:skyblue;
}


#submit_btn3{
	
	font-size:25px;
	color:white;
	border: none;	
	background-color:ORANGE;
	border-radius:35px;
	font-family:"Ariel";
	margin-left:23%;
	font-size: 24px;
	cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin-left:5%;
	width:35%;
}


#submit_btn3:hover, #submit_btn3:focus, #submit_btn3:active {
  color: white;
  background-color:skyblue;
}


span {
        background-color: rgba(0,102,255,.15);
        border: 2px solid rgba(0,102,255,.5);
        border-radius: 10px;
        color: #000;
        display: none;
        padding: 10px;
        position: relative;
		width:200px;
    }

span:before {
    content: "";
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color:  transparent transparent rgba(0,102,255,.5) transparent;
    height: 0;
    position: absolute;
    top: -17px;
    width: 0;
}

input {
    display: block
}

input:hover + span {
    display: inline-block;
    margin: 10px 0 0 10px
}



hr {
    display: block;
   
   width:90%;
   border-width: 3px;
}